/*===============
Small Device
===============*/
@media (min-width: 320px) and (max-width: 599px) {

    /* .ays-quiz-container {
        margin: 50px auto;
    } */

    /* .page-template-page-full #main {
        padding: 0 0 !important;
    } */

    [id^="ays_finish_quiz_"] .step:first-of-type div.ays-abs-fs {
        box-shadow: none;
        width: 100%;
        text-align: center;
    }

    [id^="ays_finish_quiz_"] .ays-fs-subtitle {
        padding: 0 30px;
        font-size: 20px;
        line-height: 27px;
    }

    [id^="ays_finish_quiz_"] .ays-fs-subtitle p {
        margin-bottom: 20px;
        color: #14233E;
    }

    [id^="ays_finish_quiz_"] div.step div.ays-abs-fs {
        padding: 0;
    }

    [id^="ays_finish_quiz_"] div.step .ays-question-counter {
        top: -30px;
        left: 15px;
        font-size: 16px;
        font-weight: 500;
    }


    /*.ays-quiz-container[id^="ays-quiz-container"] .wpr-skip-button {*/
    /*    color: rgb(20 35 62 / 23%);*/
    /*}*/
    .ays-quiz-container .ays_quiz_timer_container {
        background-color: transparent;
        top: -36px;
        right: 15px;
    }

    [id^="ays_finish_quiz_"] .question-left {
        border-bottom: 1px solid #E1E1E1;
        -webkit-border-radius: 0;
        border-radius: 0;
        width: 100%;
        box-shadow: none;
        min-height: auto;
    }

    [id^="ays_finish_quiz_"] .question-left .ays_quiz_question {
        display: none;
        padding: 7px 15px;
        font-size: 17px;
        background: rgb(45 75 114 / 10%);
    }

    [id^="ays_finish_quiz_"] .question-left .ays_quiz_question:after {
        display: none;
    }

    [id^="ays_finish_quiz_"] .question-left .ays-image-question-img {
        padding: 15px 65px;
        height: 260px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    [id^="ays_finish_quiz_"] .question-left .ays-image-question-img img {
        height: 100% !important;
        object-fit: contain !important;
    }

    [id^="ays_finish_quiz_"] .question-right {
        width: 100%;
        box-shadow: none;
        min-height: auto;
        margin-left: 0;
    }

    /* [id^="ays_finish_quiz_"] .question-right .answer-section-title {
        display: none;
        padding: 7px 15px;
        font-size: 17px;
        background: rgb(45 75 114 / 10%);
    } */

    /* [id^="ays_finish_quiz_"] .question-right .ays-quiz-answers {
        padding: 23px 30px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        flex-direction: row;
    } */

    [id^="ays_finish_quiz_"] .question-right .answer-section-title:after {
        display: none;
    }

    [id^="ays_finish_quiz_"] .question-right .answer-section-title p {
        color: #2D4B72;
    }

    .ays-quiz-container .ays_buttons_div {
        position: relative;
    }

    .ays-quiz-container .ays_buttons_div .wpr-btn-prev-next {
        display: none;
    }

    [id^="ays_finish_quiz_"] .question-right .ays-field {
        width: 80px;
        height: 110px;
        margin: 0 20px -20px 0;
        position: relative;
        overflow: hidden;
    }

    [id^="ays_finish_quiz_"] .question-right .ays-field:nth-child(3n) {
        width: 80px;
        margin-right: 0;
    }

    [id^="ays_finish_quiz_"] .question-right .ays-field .ays_answer_caption {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        font-size: 16px !important;
    }

    [id^="ays_finish_quiz_"] .question-right .ays-field svg {
        /* max-width: 65px;
        position: absolute;
        top: 35%;
        right: 0;
        transform: translateY(-50%); */
    }

    .ays-quiz-questions-nav-wrap .ays-quiz-questions-nav-content {
        display: flex;
        margin: 0 10px;
        padding: 0;
    }

    .ays-quiz-questions-nav-wrap .ays-quiz-questions-nav-content .ays-quiz-questions-nav-item {
        width: 34px;
        text-align: center;
    }

    .ays-quiz-container[id^="ays-quiz-container"] .wpr-calculation-screen {
        width: 100%;
        margin-left: 0;
    }

    [id^="ays_finish_quiz_"] div.step div.ays-abs-fs.ays-end-page {
        box-shadow: none;
    }

    .ays-quiz-container[id^="ays-quiz-container"] .wpr-progress-items {
        flex-wrap: wrap;
        padding: 0 50px;
        align-items: center;
        justify-content: center;
    }

    .ays-quiz-container[id^="ays-quiz-container"] .wpr-progress-items .progress-item {
        margin-bottom: 30px;
        width: 100%;
        justify-content: center;
    }

    .ays-quiz-container[id^="ays-quiz-container"] .wpr-calculation-title {
        padding: 0 30px;
    }

    .ays-quiz-questions-nav-wrap {
        margin-top: 70px;
    }
}

/*====================
Small + <Medium
=======================*/
@media (min-width: 320px) and (max-width: 767px) {

}

/*====================
Small + Medium Device
=======================*/
@media (min-width: 320px) and (max-width: 991px) {

}

/*===============
Medium Device
===============*/
@media (min-width: 768px) and (max-width: 991px) {

}

/*====================
Laptop View
=======================*/
@media (min-width: 992px) and (max-width: 1024px) {

}


@media (min-width: 992px) and (max-width: 1290px) {

}

/*====================
Laptop Large View
=======================*/
@media (min-width: 1024px) and (max-width: 1440px) {

}
