body.quiz-test:not(.user-in-mobile) #sidebar,
body.quiz-test:not(.user-in-mobile) #footer {
    display: none;
}

.ays-quiz-container p {
    margin: 0;
    padding: 0;
}

.ays-quiz-container input[type="button"] {
    margin: 0 !important;
}

.ays-quiz-container .ays_quizn_ancnoxneri_qanak {
    display: none;
}

/* .ays-quiz-container .ays_quiz_timer_container {
    display: flex;
    width: 85px;
    padding: 0 12px;
    border-radius: 4px;
    background: #E9ECF1;
    color: #14233E;
    line-height: 1.3;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -56px;
    right: 0;
} */

/* .ays-quiz-container .ays_quiz_timer_container .timer-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: -3px;
} */

/* .ays-quiz-container .ays_quiz_timer_container .ays-quiz-timer {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    display: block;
    margin-top: 2px;
} */


[id^="ays_finish_quiz_"] .ays-fs-subtitle p {
    color: #14233E;
}

[id^="ays_finish_quiz_"] div.step .ays-question-counter {
    position: absolute;
    top: -55px;
    font-size: 20px;
    font-weight: 500;
    color: #2D4B72;
}

[id^="ays_finish_quiz_"] div.step .question-answer-wrap {
    display: flex;
}

/* [id^="ays_finish_quiz_"] .question-left {
    width: 440px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    display: inline-block;
    vertical-align: top;

} */

[id^="ays_finish_quiz_"] .question-right {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    gap: 1.6rem;
    width: 360px;
}


[id^="ays_finish_quiz_"] .question-left .ays_quiz_question {
    position: relative;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}

[id^="ays_finish_quiz_"] .question-left .ays_quiz_question p {
    color: #2D4B72;
}

/* [id^="ays_finish_quiz_"] .question-left .ays-image-question-img {
    margin: 0 auto;
    padding: 43px 55px;
} */

/* [id^="ays_finish_quiz_"] .question-right .answer-section-title {
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    color: rgba(0, 9, 51, 0.65);
} */

[id^="ays_finish_quiz_"] .question-left .answer-section-title p {
    color: #2D4B72;
}

[id^="ays_finish_quiz_"] .question-right .ays-quiz-answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.6rem;
}

[id^="ays_finish_quiz_"] .question-right .ays-field {
    width: 132px;
    height: 105px;
    /*vertical-align: top;*/
    /*display: inline-block;*/
    margin: 0 0 5px 0;
    transition: 0.3s;
    cursor: pointer;
}

/* [id^="ays_finish_quiz_"] .question-right .ays-field.checked_answer_div,
[id^="ays_finish_quiz_"] .question-right .ays-field:hover {
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16);
    color: #3f8ef0;
    transition: all .3s ease;
}

[id^="ays_finish_quiz_"] .question-right .ays-field:hover .ays_empty_before_content {
    color: #3f8ef0;
} */

[id^="ays_finish_quiz_"] .question-right .ays-field .ays_answer_caption {
    vertical-align: top;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 5px;
    font-weight: 700;
    color: #2D4B72;
    position: absolute;
}

[id^="ays_finish_quiz_"] .question-right .ays-field .ays_answer_image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /*margin-top: 5px;*/
    overflow: hidden;
}

[id^="ays_finish_quiz_"] .question-right .ays-field svg {
    margin-left: 10px;
    max-width: 64px;
    width: 100%;
}

/* [id^="ays_finish_quiz_"] .question-right .ays-field.checked_answer_div .ays_answer_image svg [stroke^="#2d4b72"],
[id^="ays_finish_quiz_"] .question-right .ays-field:hover .ays_answer_image svg [stroke^="#2d4b72"] {
    stroke: #3f8ef0;
} */

/* [id^="ays_finish_quiz_"] .question-right .ays-field.checked_answer_div .ays_answer_image svg [fill^="#2d4b72"],
[id^="ays_finish_quiz_"] .question-right .ays-field:hover .ays_answer_image svg [fill^="#2d4b72"] {
    fill: #3f8ef0;
} */

[id^="ays_finish_quiz_"] .question-right .ays-field.checked_answer_div .ays_answer_image svg [stroke^="#3f8ef0"],
[id^="ays_finish_quiz_"] .question-right .ays-field:hover .ays_answer_image svg [stroke^="#3f8ef0"] {
    stroke: #2d4b72;
}

[id^="ays_finish_quiz_"] .question-right .ays-field.checked_answer_div .ays_answer_image svg [fill^="#3f8ef0"],
[id^="ays_finish_quiz_"] .question-right .ays-field:hover .ays_answer_image svg [fill^="#3f8ef0"] {
    fill: #2d4b72;
}

.ays-quiz-container .ays_buttons_div .wpr-btn-prev-next {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 45%;
}

.ays-quiz-container .ays_buttons_div .wpr-btn-prev-next>i {
    background: #d0d9e2;
    color: #fff;
    border-radius: 4px;
    width: 51px;
    height: 51px;
    transition: all 0.3s ease;
}

.ays-quiz-container .ays_buttons_div .wpr-btn-prev-next>i:hover {
    background: #3F8EF0
}

.ays-quiz-container .ays_buttons_div .wpr-btn-prev-next.btn-prev {
    right: calc(100% + 35px);
}

.ays-quiz-container .ays_buttons_div .wpr-btn-prev-next.btn-next {
    left: calc(100% + 35px);
}

.ays-quiz-questions-nav-wrap {
    display: none;
    margin-top: 15px;
}

.ays-quiz-questions-nav-wrap .ays-quiz-questions-nav-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ays-quiz-questions-nav-wrap a.ays_questions_nav_question {
    color: rgba(0, 9, 51, 0.65);
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    padding: 3px;
    text-decoration: none;
}

.ays-quiz-questions-nav-wrap a.ays_questions_nav_question[disabled] {
    background-color: rgba(0, 6, 38, 0.9);
    border-radius: 8px;
    color: #fff;
    padding: 0.95rem 1.65rem;
}

.ays-quiz-container[id^="ays-quiz-container"] .ays_fa.ays_fa_flag_checkered {
    display: none;
}

/* .ays-quiz-container[id^="ays-quiz-container"] .wpr-skip-button {
    position: absolute;
    top: 55%;
    left: -50px;
    color: #418eef;
    transform: translateY(-50%);
    text-decoration: underline;
    font-size: 16px;
    line-height: 32px;
    cursor: pointer;
} */


/*
.ays-quiz-container[id^="ays-quiz-container"]
*/
/* .ays-quiz-container[id^="ays-quiz-container"] .wpr-calculation-screen {
    text-align: center;
    width: 970px;
    margin-left: -96px;
} */

/* .ays-quiz-container[id^="ays-quiz-container"] .wpr-calculation-title {
    color: #14233e;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 30px;
    text-transform: uppercase;
    margin-top: 37px;
} */

/* .ays-quiz-container[id^="ays-quiz-container"] .wpr-progress-items {
    display: flex;
    justify-content: space-between;
}

.ays-quiz-container[id^="ays-quiz-container"] .wpr-progress-items .progress-item {
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", serif;
    display: flex;
    align-items: center;
}

.ays-quiz-container[id^="ays-quiz-container"] .wpr-progress-items .progress-item>svg {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    margin-right: 10px;
}

.ays-quiz-container[id^="ays-quiz-container"] .wpr-progress-items .progress-item.done>svg {
    opacity: 1;
    visibility: visible;
}

.ays-quiz-container[id^="ays-quiz-container"] .wpr-progress-items .progress-item span {
    color: #14233e;
    opacity: .5;
    transition: 0.3s;
}

.ays-quiz-container[id^="ays-quiz-container"] .wpr-progress-items .progress-item.done span {
    opacity: 1;
}

.ays-quiz-container[id^="ays-quiz-container"] .circular {
    height: 100px;
    width: 100px;
    position: relative;
    margin: 0 auto;
}

.ays-quiz-container[id^="ays-quiz-container"] .circular .inner {
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin: -40px 0 0 -40px;
    border-radius: 100%;
    background: #FFFFFF;
}

.ays-quiz-container[id^="ays-quiz-container"] .circular .number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: #14233e;
}

.ays-quiz-container[id^="ays-quiz-container"] .circular .bar {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #F5F5F5;
    -webkit-border-radius: 100%;
    clip: rect(0px, 100px, 100px, 50px);
}

.ays-quiz-container[id^="ays-quiz-container"] .circle .bar .progress {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 50px, 100px, 0px);
    background: #3F8EF0;
}

.ays-quiz-container[id^="ays-quiz-container"] .circle .left .progress {
    z-index: 1;
    animation: left 5s linear both;
}

@keyframes left {
    100% {
        transform: rotate(180deg);
    }
}

.ays-quiz-container[id^="ays-quiz-container"] .circle .right {
    transform: rotate(180deg);
    z-index: 3;

}

.ays-quiz-container[id^="ays-quiz-container"] .circle .right .progress {
    animation: right 5s linear both;
    animation-delay: 5s;
}

@keyframes right {
    100% {
        transform: rotate(180deg);
    }
} */